/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #8C99B2;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  background-color: #E6E8EC;
  margin: 0 auto;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  background-color:#8C99B2;
  text-align: center;
}

code {
  font-size: 80%;
}

.navbar {
  color: #8C99B2;
  background-color: #8C99B2;
}
.navbar> .container {
  background: #8C99B2;
}

a {
  color: #E6E8EC;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.container { background: #E6E8EC; }

body {
  
  background-color: #E6E8EC;
}

